[project]
	description = Test HelloWorld
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ayaan Mukherjee (ayaanj)
[access "refs/for/refs/*"]
	read = group user/Ayaan Mukherjee (ayaanj)
	push = group user/Ayaan Mukherjee (ayaanj)
	label-Code-Review = -2..+2 group user/Ayaan Mukherjee (ayaanj)
	label-Verified = -1..+1 group user/Ayaan Mukherjee (ayaanj)
	rebase = group user/Ayaan Mukherjee (ayaanj)
	removeReviewer = group user/Ayaan Mukherjee (ayaanj)
	submit = group user/Ayaan Mukherjee (ayaanj)
[access "refs/heads/*"]
	read = group user/Ayaan Mukherjee (ayaanj)
	create = group user/Ayaan Mukherjee (ayaanj)
	push = +force group user/Ayaan Mukherjee (ayaanj)
	pushMerge = group user/Ayaan Mukherjee (ayaanj)
[access "refs/tags/*"]
	push = +force group user/Ayaan Mukherjee (ayaanj)
	pushTag = group user/Ayaan Mukherjee (ayaanj)
	pushSignedTag = group user/Ayaan Mukherjee (ayaanj)
